/nbproject/private/
/backend/config/
/backend/runtime/
/backend/www/myplacemalang/assets/
/frontend/runtime/
/frontend/web/myplacemalang/assets/
/common/config/
/app/backend/assets/
/app/backend/runtime/
/assets/
/frontend/config/
/app/backend/config/